body {
  background-color: #f9f9f9;
}

.shop-nav {
  min-height: 500px;
}

.shop-nav ul {
  margin: 1rem;
}

.header {
  background-color: #d4d4ff;
}

.header h1 {
  font-size: 2rem;
}

.header .badge {
  margin: 1rem;
}

.menu {
  background-color: #e7e7ff;
}

.content {
  background-color: #f9f9f9;
}

.pokemon-detail-head h1 {
  margin: 2rem 0;
}

.pokemon-detail-head .add-to-cart {
  margin: 2rem 0;
}

.add-to-cart span.badge {
  padding: 1rem;
  font-size: 1.3rem;
}

table.table td {
  vertical-align: middle;
}
.pagination {
  overflow: auto;
}
